

<!-- Footer -->
<footer class="mt-5 navbar-dark bg-dark" style="color: white; ">
    <div class="container py-3">
      <div class="row justify-content-center">
        <div class="col-lg-3">
          <h5>Ⓒ E-Commerce 2023</h5>
        </div>
      </div>
    </div>
  </footer>
  